/* Home.css */
body{
  background-image: url('../public/community.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
/* Ensure content container is scrollable */
.content-container {
  margin-top: 60px; /* Adjust margin to account for fixed navbar height */
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px); /* Full height minus navbar height */
}

/* Scrollbar styles */
.content-container::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

.content-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: #A437DB; /* Purple color */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Create padding around thumb */
}

/* Home container styles */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post container styles */
.post-container {
  margin-bottom: 20px;
  width: 60%; /* Set a width that fits within the viewport */
}

/* Post styles */
.post {
  background-color: rgba(163, 55, 219, 0.95); /* Slightly transparent background */
  color: #333; /* Font color */
  border-radius: 8px;
  padding: 20px;
  text-align: center; /* Center content */
}

@media (max-width: 480px) {
  .post{
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
  .content-container{
    padding: 0;
  }
  .post-container {
    margin-bottom: 20px;
    width: 80%; /* Set a width that fits within the viewport */
  }
}

/* Post title styles */
.post-title {
  font-size: 24px;
  white-space: wrap;
  /* overflow: hidden;
  text-overflow: e; */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Post content styles */
.post-content {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  white-space: pre-line; /* Preserve newlines and spaces */
}

/* Post footer styles */
.post-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: #35185A; /* Font color */
  justify-content: center; /* Center footer content */
}

/* Post info styles */
.post-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Profile image styles */
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
}

/* Post date styles */
.post-date {
  margin-top: 5px; /* Add margin to separate from author */
}

/* No posts message styles */
.no-posts {
  font-size: 16px;
  color: #666666;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between; /* This will place the buttons at opposite ends */
  margin-top: 20px; /* Add some space above the buttons */
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #007bff;
  color: white;
}

.modal-buttons button:last-child {
  background-color: #6c757d;
  color: white;
}

.comments-section {
  margin-top: 20px;
  font-size: 12px;
}

.comments-section h3 {
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
}

.comment span {
  font-size: 0.9em;
  color: #666;
}

textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.post-actions button {
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.commentBtn{
  width: 25px;
  margin-left:10px;
  margin-top:10px;
}
.comment{
  width:100%;
  text-align: left;

}
.comment-content{
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word; 
}
.linking{
  text-decoration: none;
  color:black;
}